@import url('https://fonts.googleapis.com/css2?family=KoHo&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

#contents
  {
width: 75%;
height: 100%;
float: left;
background: #ffffff;
margin-top: 0px;
margin-right: 0px;
  }

body
  {
    background-color: #ffffff;
  }

.images_related{
width: 23%;
margin: .2%;
}

.images
  {  
    width: 73%;
      float: left;
  }

.images_relleno
  {  
    width: 1%;
      float: left;
    }

.images_ad
  {  
    width: 22%;
      box-shadow: 2px 2px 5px #999;
    }

.images_perfil
  {
    width: 40px;
  }

h1
  {
    font-family: 'KoHo', sans-serif;
      color: #1e1e20;
        font-size: 20px;
          height: 1px;
            float: left;
          }

p
  {
    font-family: 'KoHo', sans-serif;
      color: #1e1e20;
        font-size: 20px;
        vertical-align: text-top;
      }

      .comments_secundary
      {
        font-family: 'KoHo', sans-serif;
          color: #1e1e20;
            font-size: 18px;
            vertical-align: text-top;
          }

.font_perfil
  {
    font-family: 'KoHo', sans-serif;
      color: #1e1e20;
        font-size: 20px;
          height: 1px;
        }

.font_perfil_rango
  {
    font-family: 'KoHo', sans-serif;
      color: #ff0000;
        font-size: 20px;
          height: 1px;
        }

.license
  {
    background-color: #f6f5fa;
      border: 10px solid #f6f5fa;
    }

.license_primary
  {
    font-family: 'KoHo', sans-serif;
      font-size: 18px;
        color: #000000;
          text-decoration: underline;
        }

.license_secondary
  {
    font-family: 'KoHo', sans-serif;
      font-size: 16px;
        color: #000000;
          text-decoration: none;
        }

.facebook
  {
    background-color: #f6f5fa;
      border: 10px solid #f6f5fa;
    }

    .facebook2
    {
      background-color: #f6f5fa;
        border: 10px solid #f6f5fa;
        float: right;
      }

.facebook_primary
  {
    font-family: 'KoHo', sans-serif;
      font-size: 16px;
        color: #000000;
          text-decoration: none;
        }

        .facebook_primary2
  {
    font-family: 'KoHo', sans-serif;
      font-size: 16px;
        color: #000000;
          text-decoration: none;
          height: 0px;
        }

        .details
        {
          font-family: 'KoHo', sans-serif;
            font-size: 16px;
              color: #000000;
                text-decoration: none;
                text-align: left;
              }
      

.br
  {
    color: #ffffff;
      height: 0px;
        font-family: 'Josefin Sans', sans-serif;
      }

.download
{
  font-size: 15px;
}

.div2
{
  float: right;
  padding: 14px 27px 30px 0;
}

.div3
{
  float: left;
  padding: 14px 32px 30px 0;
}